
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: "Josefin Sans";
  font-size: 20px;

  background: #171717;
  color: white;

  overflow: hidden;
}

* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.react-hint {
  min-width: 280px !important;
  max-width: 400px !important;
}

.react-hint .react-hint__content {
  font-size: 14px;
  white-space: pre-wrap;
}
